In [5]:
import pandas as pd
import numpy as np

import yfinance as yf

import time
from tqdm import tqdm

# Î∏åÎùºÏö∞Ï†Ä(TLS) ÌôòÍ≤ΩÏùÑ ÌùâÎÇ¥ÎÇ¥Îäî ÏÑ∏ÏÖò ÏÉùÏÑ±
from curl_cffi import requests
session = requests.Session(impersonate="chrome")

# S&P500 Ï¢ÖÎ™© Ìã∞Ïª§, ÏÑπÌÑ∞/ÏÇ∞ÏóÖ Ï†ïÎ≥¥

In [6]:
# ÏúÑÌÇ§ÌîºÎîîÏïÑ S&P500 Ï¢ÖÎ™© Î¶¨Ïä§Ìä∏
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
tables = pd.read_html(url)

# Ï≤´ Î≤àÏß∏ ÌÖåÏù¥Î∏îÏù¥ S&P500 Ï¢ÖÎ™©
sp500_table = tables[0]

# ÌïÑÏöîÌïú ÏπºÎüºÎßå Ï∂îÏ∂ú (Symbol, Security, GICS Sector, GICS Sub-Industry)
df = sp500_table[['Symbol', 'Security', 'GICS Sector', 'GICS Sub-Industry']]

# ÏπºÎüºÎ™Ö Î≥ÄÍ≤Ω
df_sp500 = df.rename(columns={
    "Symbol": "Ìã∞Ïª§",
    "Security": "Ï¢ÖÎ™©Î™Ö",
    "GICS Sector": "GICSÏÑπÌÑ∞",
    "GICS Sub-Industry": "GICSÏÑ∏Î∂ÄÏÇ∞ÏóÖÍµ∞"
})

df_sp500.to_csv(f"/Users/leesangwon/Documents/ThemeStock_file/US_data/sp500_sector.csv", index=False)
df_sp500.head()

,Ìã∞Ïª§,Ï¢ÖÎ™©Î™Ö,GICSÏÑπÌÑ∞,GICSÏÑ∏Î∂ÄÏÇ∞ÏóÖÍµ∞
0,MMM,3M,Industrials,Industrial Conglomerates
1,AOS,A. O. Smith,Industrials,Building Products
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment
3,ABBV,AbbVie,Health Care,Biotechnology
4,ACN,Accenture,Information Technology,IT Consulting & Other Services

# all info Î°úÎìú

In [7]:
def make_summary_df(data: dict):
    # dictÏóêÏÑú ÌïÑÏöîÌïú Í∞í ÎΩëÍ∏∞
    row = {
        "Ìã∞Ïª§": data.get("symbol"),
        "Ï¢ÖÎ™©Î™Ö": data.get("longName") or data.get("shortName"),
        "ÏãúÏû•Íµ¨Î∂Ñ": data.get("fullExchangeName"),
        "ÏõπÏÇ¨Ïù¥Ìä∏": data.get("website"),
        "Ï¶ùÍ∂åÍµ¨Î∂Ñ": data.get("quoteType"),
        "yfÏÑπÌÑ∞": data.get("sector"),

        "Ï¢ÖÍ∞Ä": data.get("regularMarketPrice"),
        "ÏãúÍ∞Ä": data.get("regularMarketOpen") or data.get("open"),
        "Í≥†Í∞Ä": data.get("regularMarketDayHigh") or data.get("dayHigh"),
        "Ï†ÄÍ∞Ä": data.get("regularMarketDayLow") or data.get("dayLow"),
        "52Ï£ºÏµúÍ≥†": data.get("fiftyTwoWeekHigh"),
        "52Ï£ºÏµúÏ†Ä": data.get("fiftyTwoWeekLow"),
        "PER": data.get("trailingPE"),
        "PBR": data.get("priceToBook"),
        "Î≤†ÌÉÄ": data.get("beta"),
        "Î∞∞ÎãπÏÑ±Ìñ•": data.get("payoutRatio"),

        # "ÏûêÏÇ∞": data.get("totalAssets"),
        # "Î∂ÄÏ±Ñ": data.get("totalLiab") or data.get("totalDebt"),
        # "ÏûêÎ≥∏": data.get("totalStockholderEquity"),
        # "Îß§Ï∂úÏï°": data.get("totalRevenue"),
        # "ÏòÅÏóÖÏù¥Ïùµ": data.get("operatingIncome"),
        # "ÎãπÍ∏∞ÏàúÏù¥Ïùµ": data.get("netIncomeToCommon"),

        "Í±∞ÎûòÎüâ": data.get("regularMarketVolume") or data.get("volume"),
        "Í±∞ÎûòÎåÄÍ∏à": (data.get("regularMarketPrice") or 0) * (data.get("regularMarketVolume") or 0),
        "ÏãúÍ∞ÄÏ¥ùÏï°": data.get("marketCap")
    }

    return pd.DataFrame([row])


tickers = df_sp500["Ìã∞Ïª§"].tolist()
results = []
for t in tqdm(tickers, desc="S&P500 ÏùºÎ∞òÏ†ïÎ≥¥ Î°úÎìú Ï§ë"):
    try:
        ticker = yf.Ticker(t, session=session)
        data = ticker.get_info()   # dict
        df = make_summary_df(data) # DataFrame Ìïú Ï§Ñ
        results.append(df)
    except Exception as e:
        print(f"{t} Î∂àÎü¨Ïò§Í∏∞ Ïã§Ìå®: {e}")
    time.sleep(0.1)

# Î™®Îì† Ï¢ÖÎ™© Í≤∞Í≥º Ìï©ÏπòÍ∏∞
final_df = pd.concat(
    [df for df in results if not df.empty and not df.isna().all().all()], 
    ignore_index=True
)

final_df.to_csv(f"/Users/leesangwon/Documents/ThemeStock_file/US_data/sp500_all_info.csv", index=False)
final_df.head()

S&P500 ÏùºÎ∞òÏ†ïÎ≥¥ Î°úÎìú Ï§ë: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 503/503 [04:29<00:00,  1.87it/s]
/var/folders/pr/m3xbr9vs3xs6h2gphc6hflsm0000gn/T/ipykernel_33759/165066483.py:50: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat(

,Ìã∞Ïª§,Ï¢ÖÎ™©Î™Ö,ÏãúÏû•Íµ¨Î∂Ñ,ÏõπÏÇ¨Ïù¥Ìä∏,Ï¶ùÍ∂åÍµ¨Î∂Ñ,yfÏÑπÌÑ∞,Ï¢ÖÍ∞Ä,ÏãúÍ∞Ä,Í≥†Í∞Ä,Ï†ÄÍ∞Ä,52Ï£ºÏµúÍ≥†,52Ï£ºÏµúÏ†Ä,PER,PBR,Î≤†ÌÉÄ,Î∞∞ÎãπÏÑ±Ìñ•,Í±∞ÎûòÎüâ,Í±∞ÎûòÎåÄÍ∏à,ÏãúÍ∞ÄÏ¥ùÏï°
0,MMM,3M Company,NYSE,https://www.3m.com,EQUITY,Industrials,154.38,154.37,155.210,153.150,164.15,121.98,21.471489,19.168116,1.104,0.3972,2236664,3.452962e+08,82227421184
1,AOS,A. O. Smith Corporation,NYSE,https://www.aosmith.com,EQUITY,Industrials,71.75,71.47,72.205,71.240,92.06,58.83,19.986073,5.446747,1.220,0.3733,723333,5.189914e+07,10054327296
2,ABT,Abbott Laboratories,NYSE,https://www.abbott.com,EQUITY,Healthcare,132.00,132.12,133.200,131.750,141.23,110.86,16.562109,4.543421,0.705,0.2861,3975494,5.247652e+08,229740724224
3,ABBV,AbbVie Inc.,NYSE,https://www.abbvie.com,EQUITY,Healthcare,209.50,209.14,212.450,208.900,218.66,163.81,99.761910,-2014.423100,0.503,3.0381,5240471,1.097879e+09,370094309376
4,ACN,Accenture plc,NYSE,https://www.accenture.com,EQUITY,Technology,253.99,255.00,255.000,250.725,398.35,236.67,20.206047,5.176603,1.290,0.4558,2659130,6.753924e+08,158198431744

# Ïû¨Î¨¥ Ï†ïÎ≥¥ Î°úÎìú

In [4]:
def make_simple_financial_df(ticker_symbol):
    ticker = yf.Ticker(ticker_symbol)

    # --- Ïû¨Î¨¥ÏÉÅÌÉúÌëú (Balance Sheet) ---
    bs = ticker.balance_sheet
    bs_col = bs.columns[0] if not bs.empty else None

    # --- ÏÜêÏùµÍ≥ÑÏÇ∞ÏÑú (Income Statement) ---
    fs = ticker.financials
    fs_col = fs.columns[0] if not fs.empty else None

    row = {
        "Ìã∞Ïª§": ticker.ticker,
        # Ïö∞ÏÑ†ÏàúÏúÑ: BSÏùò Ï≤´ Î≤àÏß∏ Ïª¨Îüº(Í≤∞ÏÇ∞Ïùº) ‚Üí ÏóÜÏúºÎ©¥ ISÏùò Ï≤´ Î≤àÏß∏ Ïª¨Îüº
        "Í≤∞ÏÇ∞Ïùº": str(bs_col) if bs_col is not None else str(fs_col),
        # --- ÏûêÏÇ∞, Î∂ÄÏ±Ñ, ÏûêÎ≥∏ ---
        "ÏûêÏÇ∞": bs.loc["Total Assets", bs_col] if "Total Assets" in bs.index else np.nan,
        "Î∂ÄÏ±Ñ": bs.loc["Total Debt", bs_col] if "Total Debt" in bs.index else np.nan,
        "ÏûêÎ≥∏": bs.loc["Total Equity Gross Minority Interest", bs_col] if "Total Equity Gross Minority Interest" in bs.index else np.nan,
        # --- Îß§Ï∂úÏï°, ÏòÅÏóÖÏù¥Ïùµ, ÎãπÍ∏∞ÏàúÏù¥Ïùµ ---
        "Îß§Ï∂úÏï°": fs.loc["Total Revenue", fs_col] if "Total Revenue" in fs.index else np.nan,
        "ÏòÅÏóÖÏù¥Ïùµ": fs.loc["Operating Income", fs_col] if "Operating Income" in fs.index else np.nan,
        "ÎãπÍ∏∞ÏàúÏù¥Ïùµ": fs.loc["Net Income", fs_col] if "Net Income" in fs.index else np.nan,
    }

    return pd.DataFrame([row])


# Ïã§Ìñâ ÏòàÏãú
tickers = df_sp500["Ìã∞Ïª§"].tolist()
results = []

for t in tqdm(tickers, desc="S&P500 ÌÜµÌï© Ïû¨Î¨¥Îç∞Ïù¥ÌÑ∞ Î°úÎìú Ï§ë"):
    try:
        df_one = make_simple_financial_df(t)
        results.append(df_one)
    except Exception as e:
        print(f"{t} Ï≤òÎ¶¨ Ïã§Ìå®: {e}")
    time.sleep(0.1)  # API Ìò∏Ï∂ú ÏÜçÎèÑ Ï†úÌïú Î∞©ÏßÄ

df_final = pd.concat(results, ignore_index=True)

df_final.to_csv(f"/Users/leesangwon/Documents/ThemeStock_file/US_data/sp500_all_financial.csv", index=False)
df_final.head()

S&P500 ÌÜµÌï© Ïû¨Î¨¥Îç∞Ïù¥ÌÑ∞ Î°úÎìú Ï§ë: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 503/503 [06:34<00:00,  1.27it/s]

,Ìã∞Ïª§,Í≤∞ÏÇ∞Ïùº,ÏûêÏÇ∞,Î∂ÄÏ±Ñ,ÏûêÎ≥∏,Îß§Ï∂úÏï°,ÏòÅÏóÖÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ
0,MMM,2024-12-31 00:00:00,3.986800e+10,1.365900e+10,3.894000e+09,2.457500e+10,4.822000e+09,4.173000e+09
1,AOS,2024-12-31 00:00:00,3.240000e+09,2.167000e+08,1.883500e+09,3.818100e+09,7.168000e+08,5.336000e+08
2,ABT,2024-12-31 00:00:00,8.141400e+10,1.502100e+10,4.790100e+10,4.195000e+10,6.825000e+09,1.340200e+10
3,ABBV,2024-12-31 00:00:00,1.351610e+11,6.714400e+10,3.364000e+09,5.633400e+10,1.189400e+10,4.278000e+09
4,ACN,2024-08-31 00:00:00,5.593236e+10,4.120549e+09,2.916825e+10,6.489646e+10,9.595847e+09,7.264787e+09

In [24]:
import yfinance as yf
import pandas as pd

def get_financial_statements(ticker_symbol):
    ticker = yf.Ticker(ticker_symbol)
    
    # --- Ïû¨Î¨¥ÏÉÅÌÉúÌëú (Balance Sheet) ---
    bs = ticker.balance_sheet
    if not bs.empty:
        bs_df = bs.transpose().reset_index().rename(columns={"index": "Date"})
        bs_df["Ticker"] = ticker_symbol   # ‚úÖ Ìã∞Ïª§ Ï∂îÍ∞Ä
    else:
        bs_df = pd.DataFrame()
    
    # --- ÏÜêÏùµÍ≥ÑÏÇ∞ÏÑú (Income Statement) ---
    fs = ticker.financials
    if not fs.empty:
        fs_df = fs.transpose().reset_index().rename(columns={"index": "Date"})
        fs_df["Ticker"] = ticker_symbol   # ‚úÖ Ìã∞Ïª§ Ï∂îÍ∞Ä
    else:
        fs_df = pd.DataFrame()
    
    return bs_df, fs_df

# ÏÇ¨Ïö© ÏòàÏãú
bs_df, fs_df = get_financial_statements("AAPL")

# print("üìä Ïû¨Î¨¥ÏÉÅÌÉúÌëú")
# print(bs_df.head(), "\n")

print("üìä ÏÜêÏùµÍ≥ÑÏÇ∞ÏÑú")
fs_df

üìä ÏÜêÏùµÍ≥ÑÏÇ∞ÏÑú

,Date,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,Net Interest Income,...,Interest Income Non Operating,Operating Income,Operating Expense,Research And Development,Selling General And Administration,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue,Ticker
0,2024-09-30,0.0,0.241,134661000000.0,93736000000.0,11445000000.0,210352000000.0,134661000000.0,123216000000.0,NaN,...,NaN,123216000000.0,57467000000.0,31370000000.0,26097000000.0,180683000000.0,210352000000.0,391035000000.0,391035000000.0,AAPL
1,2023-09-30,0.0,0.147,125820000000.0,96995000000.0,11519000000.0,214137000000.0,125820000000.0,114301000000.0,-183000000.0,...,3750000000.0,114301000000.0,54847000000.0,29915000000.0,24932000000.0,169148000000.0,214137000000.0,383285000000.0,383285000000.0,AAPL
2,2022-09-30,0.0,0.162,130541000000.0,99803000000.0,11104000000.0,223546000000.0,130541000000.0,119437000000.0,-106000000.0,...,2825000000.0,119437000000.0,51345000000.0,26251000000.0,25094000000.0,170782000000.0,223546000000.0,394328000000.0,394328000000.0,AAPL
3,2021-09-30,0.0,0.133,123136000000.0,94680000000.0,11284000000.0,212981000000.0,123136000000.0,111852000000.0,198000000.0,...,2843000000.0,108949000000.0,43887000000.0,21914000000.0,21973000000.0,152836000000.0,212981000000.0,365817000000.0,365817000000.0,AAPL
4,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,890000000.0,...,3763000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAPL

In [18]:
fs_df.columns

Index(['Í≤∞ÏÇ∞Ïùº', 'Tax Effect Of Unusual Items', 'Tax Rate For Calcs',
       'Normalized EBITDA',
       'Net Income From Continuing Operation Net Minority Interest',
       'Reconciled Depreciation', 'Reconciled Cost Of Revenue', 'EBITDA',
       'EBIT', 'Net Interest Income', 'Interest Expense', 'Interest Income',
       'Normalized Income',
       'Net Income From Continuing And Discontinued Operation',
       'Total Expenses', 'Total Operating Income As Reported',
       'Diluted Average Shares', 'Basic Average Shares', 'Diluted EPS',
       'Basic EPS', 'Diluted NI Availto Com Stockholders',
       'Net Income Common Stockholders', 'Net Income',
       'Net Income Including Noncontrolling Interests',
       'Net Income Continuous Operations', 'Tax Provision', 'Pretax Income',
       'Other Income Expense', 'Other Non Operating Income Expenses',
       'Net Non Operating Interest Income Expense',
       'Interest Expense Non Operating', 'Interest Income Non Operating',
       'Operating Income', 'Operating Expense', 'Research And Development',
       'Selling General And Administration', 'Gross Profit', 'Cost Of Revenue',
       'Total Revenue', 'Operating Revenue', 'Ìã∞Ïª§'],
      dtype='object')

In [31]:
col_map = {
    "Í≤∞ÏÇ∞Ïùº": "Í≤∞ÏÇ∞Ïùº",
    "Tax Effect Of Unusual Items": "ÌäπÏù¥Ìï≠Î™© ÏÑ∏Í∏àÌö®Í≥º",
    "Tax Rate For Calcs": "Í≥ÑÏÇ∞Ïö© ÏÑ∏Ïú®",
    "Normalized EBITDA": "Ï†ïÏÉÅÌôî EBITDA",
    "Net Income From Continuing Operation Net Minority Interest": "Í≥ÑÏÜçÏòÅÏóÖ ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞ÏßÄÎ∂Ñ Ìè¨Ìï®)",
    "Reconciled Depreciation": "Ï°∞Ï†ï Í∞êÍ∞ÄÏÉÅÍ∞ÅÎπÑ",
    "Reconciled Cost Of Revenue": "Ï°∞Ï†ï Îß§Ï∂úÏõêÍ∞Ä",
    "EBITDA": "EBITDA",
    "EBIT": "EBIT",
    "Net Interest Income": "ÏàúÏù¥ÏûêÏù¥Ïùµ",
    "Interest Expense": "Ïù¥ÏûêÎπÑÏö©",
    "Interest Income": "Ïù¥ÏûêÏàòÏùµ",
    "Normalized Income": "Ï†ïÏÉÅÌôî ÏàúÏù¥Ïùµ",
    "Net Income From Continuing And Discontinued Operation": "Í≥ÑÏÜç/Ï§ëÎã®ÏòÅÏóÖ ÏàúÏù¥Ïùµ",
    "Total Expenses": "Ï¥ùÎπÑÏö©",
    "Total Operating Income As Reported": "Î≥¥Í≥†Îêú ÏòÅÏóÖÏù¥Ïùµ",
    "Diluted Average Shares": "Ìù¨ÏÑùÏ£ºÏãùÏàò(ÌèâÍ∑†)",
    "Basic Average Shares": "Í∏∞Î≥∏Ï£ºÏãùÏàò(ÌèâÍ∑†)",
    "Diluted EPS": "Ìù¨ÏÑùÏ£ºÎãπÏàúÏù¥Ïùµ",
    "Basic EPS": "Í∏∞Î≥∏Ï£ºÎãπÏàúÏù¥Ïùµ",
    "Diluted NI Availto Com Stockholders": "Ìù¨ÏÑù NI(Î≥¥ÌÜµÏ£ºÏ£º Í∑ÄÏÜç)",
    "Net Income Common Stockholders": "ÏàúÏù¥Ïùµ(Î≥¥ÌÜµÏ£ºÏ£º Í∑ÄÏÜç)",
    "Net Income": "ÎãπÍ∏∞ÏàúÏù¥Ïùµ",
    "Net Income Including Noncontrolling Interests": "ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞ÏßÄÎ∂Ñ Ìè¨Ìï®)",
    "Net Income Continuous Operations": "Í≥ÑÏÜçÏòÅÏóÖ ÏàúÏù¥Ïùµ",
    "Tax Provision": "Î≤ïÏù∏ÏÑ∏ ÎπÑÏö©",
    "Pretax Income": "Î≤ïÏù∏ÏÑ∏Ï∞®Í∞êÏ†ÑÏù¥Ïùµ",
    "Other Income Expense": "Í∏∞ÌÉÄÏÜêÏùµ",
    "Other Non Operating Income Expenses": "Í∏∞ÌÉÄÏòÅÏóÖÏô∏ÏÜêÏùµ",
    "Net Non Operating Interest Income Expense": "ÏòÅÏóÖÏô∏ ÏàúÏù¥ÏûêÏÜêÏùµ",
    "Interest Expense Non Operating": "ÏòÅÏóÖÏô∏ Ïù¥ÏûêÎπÑÏö©",
    "Interest Income Non Operating": "ÏòÅÏóÖÏô∏ Ïù¥ÏûêÏàòÏùµ",
    "Operating Income": "ÏòÅÏóÖÏù¥Ïùµ",
    "Operating Expense": "ÏòÅÏóÖÎπÑÏö©",
    "Research And Development": "Ïó∞Íµ¨Í∞úÎ∞úÎπÑ",
    "Selling General And Administration": "ÌåêÎß§Í¥ÄÎ¶¨ÎπÑ",
    "Gross Profit": "Îß§Ï∂úÏ¥ùÏù¥Ïùµ",
    "Cost Of Revenue": "Îß§Ï∂úÏõêÍ∞Ä",
    "Total Revenue": "Îß§Ï∂úÏï°",
    "Operating Revenue": "ÏòÅÏóÖÏàòÏùµ",
    "Ìã∞Ïª§": "Ìã∞Ïª§"
}