In [5]:
import pandas as pd
import numpy as np

import yfinance as yf

import time
from tqdm import tqdm

# 브라우저(TLS) 환경을 흉내내는 세션 생성
from curl_cffi import requests
session = requests.Session(impersonate="chrome")

# S&P500 종목 티커, 섹터/산업 정보

In [6]:
# 위키피디아 S&P500 종목 리스트
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
tables = pd.read_html(url)

# 첫 번째 테이블이 S&P500 종목
sp500_table = tables[0]

# 필요한 칼럼만 추출 (Symbol, Security, GICS Sector, GICS Sub-Industry)
df = sp500_table[['Symbol', 'Security', 'GICS Sector', 'GICS Sub-Industry']]

# 칼럼명 변경
df_sp500 = df.rename(columns={
    "Symbol": "티커",
    "Security": "종목명",
    "GICS Sector": "GICS섹터",
    "GICS Sub-Industry": "GICS세부산업군"
})

df_sp500.to_csv(f"/Users/leesangwon/Documents/ThemeStock_file/US_data/sp500_sector.csv", index=False)
df_sp500.head()

,티커,종목명,GICS섹터,GICS세부산업군
0,MMM,3M,Industrials,Industrial Conglomerates
1,AOS,A. O. Smith,Industrials,Building Products
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment
3,ABBV,AbbVie,Health Care,Biotechnology
4,ACN,Accenture,Information Technology,IT Consulting & Other Services

# all info 로드

In [7]:
def make_summary_df(data: dict):
    # dict에서 필요한 값 뽑기
    row = {
        "티커": data.get("symbol"),
        "종목명": data.get("longName") or data.get("shortName"),
        "시장구분": data.get("fullExchangeName"),
        "웹사이트": data.get("website"),
        "증권구분": data.get("quoteType"),
        "yf섹터": data.get("sector"),

        "종가": data.get("regularMarketPrice"),
        "시가": data.get("regularMarketOpen") or data.get("open"),
        "고가": data.get("regularMarketDayHigh") or data.get("dayHigh"),
        "저가": data.get("regularMarketDayLow") or data.get("dayLow"),
        "52주최고": data.get("fiftyTwoWeekHigh"),
        "52주최저": data.get("fiftyTwoWeekLow"),
        "PER": data.get("trailingPE"),
        "PBR": data.get("priceToBook"),
        "베타": data.get("beta"),
        "배당성향": data.get("payoutRatio"),

        # "자산": data.get("totalAssets"),
        # "부채": data.get("totalLiab") or data.get("totalDebt"),
        # "자본": data.get("totalStockholderEquity"),
        # "매출액": data.get("totalRevenue"),
        # "영업이익": data.get("operatingIncome"),
        # "당기순이익": data.get("netIncomeToCommon"),

        "거래량": data.get("regularMarketVolume") or data.get("volume"),
        "거래대금": (data.get("regularMarketPrice") or 0) * (data.get("regularMarketVolume") or 0),
        "시가총액": data.get("marketCap")
    }

    return pd.DataFrame([row])


tickers = df_sp500["티커"].tolist()
results = []
for t in tqdm(tickers, desc="S&P500 일반정보 로드 중"):
    try:
        ticker = yf.Ticker(t, session=session)
        data = ticker.get_info()   # dict
        df = make_summary_df(data) # DataFrame 한 줄
        results.append(df)
    except Exception as e:
        print(f"{t} 불러오기 실패: {e}")
    time.sleep(0.1)

# 모든 종목 결과 합치기
final_df = pd.concat(
    [df for df in results if not df.empty and not df.isna().all().all()], 
    ignore_index=True
)

final_df.to_csv(f"/Users/leesangwon/Documents/ThemeStock_file/US_data/sp500_all_info.csv", index=False)
final_df.head()

S&P500 일반정보 로드 중: 100%|██████████| 503/503 [04:29<00:00,  1.87it/s]
/var/folders/pr/m3xbr9vs3xs6h2gphc6hflsm0000gn/T/ipykernel_33759/165066483.py:50: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat(

,티커,종목명,시장구분,웹사이트,증권구분,yf섹터,종가,시가,고가,저가,52주최고,52주최저,PER,PBR,베타,배당성향,거래량,거래대금,시가총액
0,MMM,3M Company,NYSE,https://www.3m.com,EQUITY,Industrials,154.38,154.37,155.210,153.150,164.15,121.98,21.471489,19.168116,1.104,0.3972,2236664,3.452962e+08,82227421184
1,AOS,A. O. Smith Corporation,NYSE,https://www.aosmith.com,EQUITY,Industrials,71.75,71.47,72.205,71.240,92.06,58.83,19.986073,5.446747,1.220,0.3733,723333,5.189914e+07,10054327296
2,ABT,Abbott Laboratories,NYSE,https://www.abbott.com,EQUITY,Healthcare,132.00,132.12,133.200,131.750,141.23,110.86,16.562109,4.543421,0.705,0.2861,3975494,5.247652e+08,229740724224
3,ABBV,AbbVie Inc.,NYSE,https://www.abbvie.com,EQUITY,Healthcare,209.50,209.14,212.450,208.900,218.66,163.81,99.761910,-2014.423100,0.503,3.0381,5240471,1.097879e+09,370094309376
4,ACN,Accenture plc,NYSE,https://www.accenture.com,EQUITY,Technology,253.99,255.00,255.000,250.725,398.35,236.67,20.206047,5.176603,1.290,0.4558,2659130,6.753924e+08,158198431744

# 재무 정보 로드

In [4]:
def make_simple_financial_df(ticker_symbol):
    ticker = yf.Ticker(ticker_symbol)

    # --- 재무상태표 (Balance Sheet) ---
    bs = ticker.balance_sheet
    bs_col = bs.columns[0] if not bs.empty else None

    # --- 손익계산서 (Income Statement) ---
    fs = ticker.financials
    fs_col = fs.columns[0] if not fs.empty else None

    row = {
        "티커": ticker.ticker,
        # 우선순위: BS의 첫 번째 컬럼(결산일) → 없으면 IS의 첫 번째 컬럼
        "결산일": str(bs_col) if bs_col is not None else str(fs_col),
        # --- 자산, 부채, 자본 ---
        "자산": bs.loc["Total Assets", bs_col] if "Total Assets" in bs.index else np.nan,
        "부채": bs.loc["Total Debt", bs_col] if "Total Debt" in bs.index else np.nan,
        "자본": bs.loc["Total Equity Gross Minority Interest", bs_col] if "Total Equity Gross Minority Interest" in bs.index else np.nan,
        # --- 매출액, 영업이익, 당기순이익 ---
        "매출액": fs.loc["Total Revenue", fs_col] if "Total Revenue" in fs.index else np.nan,
        "영업이익": fs.loc["Operating Income", fs_col] if "Operating Income" in fs.index else np.nan,
        "당기순이익": fs.loc["Net Income", fs_col] if "Net Income" in fs.index else np.nan,
    }

    return pd.DataFrame([row])


# 실행 예시
tickers = df_sp500["티커"].tolist()
results = []

for t in tqdm(tickers, desc="S&P500 통합 재무데이터 로드 중"):
    try:
        df_one = make_simple_financial_df(t)
        results.append(df_one)
    except Exception as e:
        print(f"{t} 처리 실패: {e}")
    time.sleep(0.1)  # API 호출 속도 제한 방지

df_final = pd.concat(results, ignore_index=True)

df_final.to_csv(f"/Users/leesangwon/Documents/ThemeStock_file/US_data/sp500_all_financial.csv", index=False)
df_final.head()

S&P500 통합 재무데이터 로드 중: 100%|██████████| 503/503 [06:34<00:00,  1.27it/s]

,티커,결산일,자산,부채,자본,매출액,영업이익,당기순이익
0,MMM,2024-12-31 00:00:00,3.986800e+10,1.365900e+10,3.894000e+09,2.457500e+10,4.822000e+09,4.173000e+09
1,AOS,2024-12-31 00:00:00,3.240000e+09,2.167000e+08,1.883500e+09,3.818100e+09,7.168000e+08,5.336000e+08
2,ABT,2024-12-31 00:00:00,8.141400e+10,1.502100e+10,4.790100e+10,4.195000e+10,6.825000e+09,1.340200e+10
3,ABBV,2024-12-31 00:00:00,1.351610e+11,6.714400e+10,3.364000e+09,5.633400e+10,1.189400e+10,4.278000e+09
4,ACN,2024-08-31 00:00:00,5.593236e+10,4.120549e+09,2.916825e+10,6.489646e+10,9.595847e+09,7.264787e+09

In [24]:
import yfinance as yf
import pandas as pd

def get_financial_statements(ticker_symbol):
    ticker = yf.Ticker(ticker_symbol)
    
    # --- 재무상태표 (Balance Sheet) ---
    bs = ticker.balance_sheet
    if not bs.empty:
        bs_df = bs.transpose().reset_index().rename(columns={"index": "Date"})
        bs_df["Ticker"] = ticker_symbol   # ✅ 티커 추가
    else:
        bs_df = pd.DataFrame()
    
    # --- 손익계산서 (Income Statement) ---
    fs = ticker.financials
    if not fs.empty:
        fs_df = fs.transpose().reset_index().rename(columns={"index": "Date"})
        fs_df["Ticker"] = ticker_symbol   # ✅ 티커 추가
    else:
        fs_df = pd.DataFrame()
    
    return bs_df, fs_df

# 사용 예시
bs_df, fs_df = get_financial_statements("AAPL")

# print("📊 재무상태표")
# print(bs_df.head(), "\n")

print("📊 손익계산서")
fs_df

📊 손익계산서

,Date,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,Net Interest Income,...,Interest Income Non Operating,Operating Income,Operating Expense,Research And Development,Selling General And Administration,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue,Ticker
0,2024-09-30,0.0,0.241,134661000000.0,93736000000.0,11445000000.0,210352000000.0,134661000000.0,123216000000.0,NaN,...,NaN,123216000000.0,57467000000.0,31370000000.0,26097000000.0,180683000000.0,210352000000.0,391035000000.0,391035000000.0,AAPL
1,2023-09-30,0.0,0.147,125820000000.0,96995000000.0,11519000000.0,214137000000.0,125820000000.0,114301000000.0,-183000000.0,...,3750000000.0,114301000000.0,54847000000.0,29915000000.0,24932000000.0,169148000000.0,214137000000.0,383285000000.0,383285000000.0,AAPL
2,2022-09-30,0.0,0.162,130541000000.0,99803000000.0,11104000000.0,223546000000.0,130541000000.0,119437000000.0,-106000000.0,...,2825000000.0,119437000000.0,51345000000.0,26251000000.0,25094000000.0,170782000000.0,223546000000.0,394328000000.0,394328000000.0,AAPL
3,2021-09-30,0.0,0.133,123136000000.0,94680000000.0,11284000000.0,212981000000.0,123136000000.0,111852000000.0,198000000.0,...,2843000000.0,108949000000.0,43887000000.0,21914000000.0,21973000000.0,152836000000.0,212981000000.0,365817000000.0,365817000000.0,AAPL
4,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,890000000.0,...,3763000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAPL

In [18]:
fs_df.columns

Index(['결산일', 'Tax Effect Of Unusual Items', 'Tax Rate For Calcs',
       'Normalized EBITDA',
       'Net Income From Continuing Operation Net Minority Interest',
       'Reconciled Depreciation', 'Reconciled Cost Of Revenue', 'EBITDA',
       'EBIT', 'Net Interest Income', 'Interest Expense', 'Interest Income',
       'Normalized Income',
       'Net Income From Continuing And Discontinued Operation',
       'Total Expenses', 'Total Operating Income As Reported',
       'Diluted Average Shares', 'Basic Average Shares', 'Diluted EPS',
       'Basic EPS', 'Diluted NI Availto Com Stockholders',
       'Net Income Common Stockholders', 'Net Income',
       'Net Income Including Noncontrolling Interests',
       'Net Income Continuous Operations', 'Tax Provision', 'Pretax Income',
       'Other Income Expense', 'Other Non Operating Income Expenses',
       'Net Non Operating Interest Income Expense',
       'Interest Expense Non Operating', 'Interest Income Non Operating',
       'Operating Income', 'Operating Expense', 'Research And Development',
       'Selling General And Administration', 'Gross Profit', 'Cost Of Revenue',
       'Total Revenue', 'Operating Revenue', '티커'],
      dtype='object')

In [31]:
col_map = {
    "결산일": "결산일",
    "Tax Effect Of Unusual Items": "특이항목 세금효과",
    "Tax Rate For Calcs": "계산용 세율",
    "Normalized EBITDA": "정상화 EBITDA",
    "Net Income From Continuing Operation Net Minority Interest": "계속영업 순이익(비지배지분 포함)",
    "Reconciled Depreciation": "조정 감가상각비",
    "Reconciled Cost Of Revenue": "조정 매출원가",
    "EBITDA": "EBITDA",
    "EBIT": "EBIT",
    "Net Interest Income": "순이자이익",
    "Interest Expense": "이자비용",
    "Interest Income": "이자수익",
    "Normalized Income": "정상화 순이익",
    "Net Income From Continuing And Discontinued Operation": "계속/중단영업 순이익",
    "Total Expenses": "총비용",
    "Total Operating Income As Reported": "보고된 영업이익",
    "Diluted Average Shares": "희석주식수(평균)",
    "Basic Average Shares": "기본주식수(평균)",
    "Diluted EPS": "희석주당순이익",
    "Basic EPS": "기본주당순이익",
    "Diluted NI Availto Com Stockholders": "희석 NI(보통주주 귀속)",
    "Net Income Common Stockholders": "순이익(보통주주 귀속)",
    "Net Income": "당기순이익",
    "Net Income Including Noncontrolling Interests": "당기순이익(비지배지분 포함)",
    "Net Income Continuous Operations": "계속영업 순이익",
    "Tax Provision": "법인세 비용",
    "Pretax Income": "법인세차감전이익",
    "Other Income Expense": "기타손익",
    "Other Non Operating Income Expenses": "기타영업외손익",
    "Net Non Operating Interest Income Expense": "영업외 순이자손익",
    "Interest Expense Non Operating": "영업외 이자비용",
    "Interest Income Non Operating": "영업외 이자수익",
    "Operating Income": "영업이익",
    "Operating Expense": "영업비용",
    "Research And Development": "연구개발비",
    "Selling General And Administration": "판매관리비",
    "Gross Profit": "매출총이익",
    "Cost Of Revenue": "매출원가",
    "Total Revenue": "매출액",
    "Operating Revenue": "영업수익",
    "티커": "티커"
}